html{
    scroll-behavior: smooth;
}
body{
   margin: 0;
   padding: 0;
   overflow: scroll;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(227 246 255 / 40%);
 padding-bottom: 10px;
 padding-top: 10px;
}

.icons i {
    color: rgba(123, 123, 123, 0.516);
text-decoration: none;
font-size: 25px;
}
.icons {
    margin-left: 100px;
}
i {
    margin-left: 25px;
}
.icons i:hover {
    color: #0181f5;
}
.contact {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 110px;
   
}
ul {
    text-decoration: none;
    list-style: none;
}
.contact i {
    margin-right: 15px;
    color: rgb(10, 181, 228);
    font-size: 25px;
}
.contact li {
    font-size: 23px;
    font-weight: 35px;
    color: gray;

}
.lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 10px;
}
.nav {
    font-family: 'Poppins', sans-serif;
}
.nav ul {
    padding-right: 40px;
}
.nav li {
    display: inline-block;
    padding-left: 40px;
    font-weight: 1000;
   
}
.nav a {
    text-decoration: none;
    list-style: none;
    color: gray;

}
.logo {
    margin-left: 119px;
}
.sticky .lower .logo img {
    width: 260px;}
    .lower .nav {
       
        font-size: 25px;
    }
    .appointment {
       margin-right: 120px;
      
    }
   .appointment button {
    border-style: none;
   padding: 20px 50px 20px 50px;
   font-size: 20px;
   font-family: sans-serif;
   color: white;
   background-color:#009DFF;
   border-radius: 10px;
   transition: .3s;
   
   }
   button:hover {
    background-color: white;
    color: rgb(18, 160, 207);
    border: 2px solid rgb(18, 160, 207);
   
   }
   .image {
   background-image: url(young-handsome-physician-medical-robe-with-stethoscope.jpg);
   background-size: cover;
   background-repeat: no-repeat;
  
   height: 100vh;
   }
   .imgcontent {
    position: absolute;
    top: 80%;
    left: 6%;
    transform: translateY(-50%);
    
   }
   #up {
    font-size: 125px;
    line-height: 0px;
    letter-spacing: 3px;
    font-weight: bolder;
   }
  
   #down {
    font-size: 110px;
    letter-spacing: ;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
   }
   #rr {
    font-size: 25px;
    font-weight: 1000;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    line-height: 15px;
    color:#727272;
    
   }
  #down #rr {
    line-height: 10px;
  }
  .imgcontent button {
    padding: 30px 70px 30px 70px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 15;
    background: linear-gradient(to right, #0181f5 0%, #5db2ff 100%);
 color: white;
 border-style: none;
 border-radius: 10px;
 text-align: center;
  }
  .imgcontent a {
    margin-left: 0px;}
    .but2:hover {
        border: 2px solid rgb(20, 158, 244);
        background: linear-gradient(to right, #f7f8f9, #ffffff);
        color:rgb(0, 151, 220) ;
        transition: 0.5s;
    }
    .container {
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: #83C4FF;
        font-family: 'Poppins', sans-serif;
    }
    .container .divs{
        box-sizing: border-box;
        align-items: center;
        width: 100%;
        padding: 100px;
    }
    .container .dive {
        box-sizing: border-box;
        align-items: center;
        width: 100%;
        padding: 100px;
        background-color: #5DB2FF;

        
    }
    .container h1 {
        color: white;
        font-size: 40px;
        letter-spacing: 2px;
        
    }
    .container i {
        font-size: 50px;
        color: white;
    }
    .container p {
        color: white;
        font-size: 26px;
        font-weight:500;
        margin-top: 10px;
        margin-bottom: 26px;
    }
    .container button {
        padding: 20px 45px 20px 45px;
        font-size: 20px;
        color: white;
        background-color: #83C4FF ;
        border: 1px solid white;
        border-radius: 5px;
    }
    .container .but4 {
        background-color: #5DB2FF;
    }
    .container a {
   margin-left: 5px;
    }
    .container a button:hover {
        color: #0181f5;
        background-color: white;
        transition: 0.5s;
    }
 .twopics{}

    
   