
body{
    height: 100vh;
    width: 100vw;
font-family: sans-serif;
}
.container {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffaa45;

}
.container .box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    flex-direction: column;

}
.container .profilebox {
    width: 750px;
    padding: 2rem;
    border-radius: 10px;
    background: white;
    overflow: hidden;
    box-shadow: 5px 10px 15px;
}
.profilebox .row {
    width: 100%;
    display: flex;
    align-items: center;
   
    position:relative;

}
.profilebox .row .image {
    min-width: 110px;
    width: 110px;
    height: 110px;
    position: relative;
    border-radius: 50%;
    margin-right: 16px;

    

}
.profilebox .row .image img {
    position: absolute;
   top: 0;
   left: 0;
    width: 150%;
    height: 150%;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;

}
.profilebox .row .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
   flex-wrap: wrap;
    width: 100%;
}
.profilebox .row .about .info .name {
    font-size: 35px;
    line-height: 70px;
    text-indent: 100px;
   
}

.profilebox .row .about .info .email
{
    text-indent: 100px;
    color: #9a9898;
    font-size: 20px;
    margin-top: 0;
}
.profilebox .row .about .lol {
 display: flex;
 list-style: none;
 text-indent: 60px;
 font-size: 20px;
 margin-top: 0;
 padding-right: 150px;
}
.follow {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-right: 250px;
    
    
}
.follow1{
    padding: 10px 60px 10px 60px ;
border: none;
border-radius: 20px;
background-color: #ffaa45;
font-size: 18px;
font-weight: bold;
margin-left: 100px;
}
.follow1:hover{
    background-color: rgb(188, 196, 196);
}
.mess {
padding: 10px 50px 10px 50px ;
border: none;
border-radius: 20px;
background-color: #ffffff;
font-size: 18px;
font-weight: bold;
display: flex;
gap: 4px;
margin-left: 10px;
color: rgb(1, 1, 100);
border: 1px solid black;
}
.mess:hover{
    background-color: rgb(188, 196, 196);
}

