body{
   
    background: url(img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 150px;
    height: 80px;
    
    
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 3%;
   background-color: rgba(15, 14, 14, 0.338);
    padding-top: 0px;
    padding-bottom: 0px;
    
   
}
.me .bb .cc .dd .ee {
    color: white;
    
}
.me:hover {
    color: rgb(80, 183, 235);
}
.bb:hover{
    color: rgb(80, 183, 235);
}
.cc:hover {
  color: rgb(80, 183, 235);
}
.dd:hover {
    color: rgb(80, 183, 235);
}
.ee:hover {
   color: rgb(80, 183, 235);
}
li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
 text-decoration: none;
 list-style: none;
}
button {
    color: rgb(255, 255, 255);
    padding: 7px 20px 7px 20px;
    background-color: rgb(1, 1, 0);
    border-style: none;
    
    border-radius: 30px;
}
img {
    cursor: pointer;
}
.main li {
    display: inline-block;
    padding: 0px 20px;
}
.main li a {
    transition: all 0.3s ease 0s ;
}
.but:hover {
    background-color: rgb(80, 183, 235);
}
.icons {
    display: inline-block;
    padding: 10px;
}
.icons a
{
    padding: 15px;
}
a:hover {
    color: rgb(80, 183, 235);
} 
